body{
    background: pink;
}

.CS2023Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: pink;
}

section {
    margin: 10px;
    width: 30%;
}


form input[type="text"],
form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: yellow;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #3071a9;
}
